body{
  margin:0;
  font-family:cursive;
  background:#ffd6e7;
  text-align:center;
}

.card{
  background:#ffe6f0;
  margin:20px;
  padding:20px;
  border-radius:20px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:15px;
  background:#ff80b3;
  color:white;
  margin:10px;
}

#music-btn{
  position:fixed;
  top:10px;
  right:10px;
}

/* Animation */
.doll,.dolls{
  font-size:50px;
  animation:bounce 1.5s infinite;
}

@keyframes bounce{
  50%{transform:translateY(-10px);}
}

/* Letters */
.letters{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.letter{
  width:120px;
  height:80px;
  background:#c94c84;
  margin:10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  animation:float 3s infinite;
}

@keyframes float{
  50%{transform:translateY(-10px);}
}

/* Popup */
.popup{
  display:none;
  position:fixed;
  top:10%;
  left:10%;
  width:80%;
  background:white;
  padding:10px;
  border-radius:10px;
}

.popup img{
  width:100%;
}

/* Arrow */
.next{
  position:fixed;
  bottom:20px;
  right:20px;
}
